body {
    background-color: #0a0c1f;
    color: #fff;
    font-size: 0.95em;
    overflow: hidden;
}

h1 {
    /* font-size: 2em; */
}

a {
    color: #fff;
}
a:hover {
    color: #f9205a;
    text-decoration: none;
}
a.highlight1 {
    color: #f9205a;
}
a.highlight1:hover {
    color: #f9205a;
    text-decoration: underline;
}
a.highlight2 {
    color: #65d2e9;
}
a.highlight2:hover {
    color: #65d2e9;
    text-decoration: underline;
}


.rounded {
    border-radius: 0.5rem !important;
}

.btn {
    color: #fff;
    /* font-size: 0.92em; */
}
.btn:hover {
    color: #fff;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}

.form-control {
    color: #e2e8f0;
    background-color: #232536;
    border-color: #162033;
    font-size: 0.95em;
    padding: 0.3rem 0.5rem;
}
.form-control:focus {
    /* outline: none; */
    background-color: #0a0c1f;
    border-color: #65d2e9;
    box-shadow: inset 0 1px 1px rgba(101,210,233, 0.075), 0 0 8px rgba(101,210,233, 0.6);
    color: #e2e8f0;
}

.color-custom1 {
    color: #f9205a;
}
.bgcolor-custom1 {
    color: #f9205a;
}
.text-custom1 {
    color: #f9205a;
}
a.text-custom1:hover {
    color: #f9205a;
}
.btn-custom1 {
    color: #fff;
    background-color: #f9205a;
    border-color: #f9205a;
}
.btn-custom1:hover {
    color: #fff;
    background-color: #f9205a;
    border-color: #f9205a;
}
.btn-outline-custom1 {
    border-color: #f9205a;
}
.btn-outline-custom1:hover {
    color: #fff;
    background-color: #f9205a;
    border-color: #f9205a;
}

.color-custom2 {
    color: #65d2e9;
}
.bgcolor-custom2 {
    color: #65d2e9;
}
.text-custom2 {
    color: #65d2e9;
}
a.text-custom2:hover {
    color: #65d2e9;
}
.btn-custom2 {
    color: #fff;
    background-color: #65d2e9;
    border-color: #65d2e9;
}
.btn-custom2:hover {
    color: #fff;
    background-color: #65d2e9;
    border-color: #65d2e9;
}
.btn-outline-custom2 {
    border-color: #65d2e9;
}
.btn-outline-custom2:hover {
    color: #fff;
    background-color: #65d2e9;
    border-color: #65d2e9;
}


#main {
    background-color: #0a0c1f;
    overflow-y: auto;
    padding-bottom: 100px;
    padding-top: 10px;
}



#topbar {
    border-bottom: 2px solid #141729;
}
#topbar input {
    padding-left: 40px;
}
#topbar .go-search {
    color: #65d2e9;
    position: absolute;
    padding: 5px 0px 5px 10px;
    z-index: 100;
}
#topbar .reset-search-term {
    margin-left: -25px;
    padding-top: 5px;
    z-index: 100;
}
#topbar .reset-search-term {
    color: #fff;
}
#topbar .reset-search-term:hover {
    color: #ddd;
}


#tagbar {
    background-color: #0a0c1f;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: 10px; */
    width: 250px;
    border-right: 2px solid #141729;
}
#tagbar nav a {
    font-size: 2em;
}
#tagbar nav a:hover {
    text-decoration: none;
}
#tagbar ul {
    list-style-type: none;
}
#tagbar li {
    /* border-left: 3px solid transparent; */
    margin-bottom: 0px;

    /* padding: 2px 10px 2px 10px; */
}
#tagbar .list-group-item {
    background-color: transparent;
    border: 0px;
    font-size: 0.95em;
    padding: 6px;
}
/* #tagbar li.active {
    background-color: #1E293B;
} */
#tagbar li:hover {
    background-color: #232536;
    /* border-left: 3px solid #f9205a; */
}
#tagbar li:hover .hashtag {
    color: #65d2e9;
    /* border-left: 3px solid #f9205a; */
}
#tagbar .badge {
    color: #0a0c1f;
    background-color: #FFF;
}
#tagbar li:hover .badge {
    background-color: #65d2e9;
    color: #fff;
    /* border-left: 3px solid #f9205a; */
}

#contributors img {
    /* border-radius: 50px; */
}



#tool-details .tool-picture {
    /* border: 2px solid #162033; */
    /* max-height: 300px !important;
    max-width: 500px !important; */
}



.tool-card .card, .tool-card .card-body, .tool-card .list-group-item {
    background-color: #141729;
}
.tool-card .card {
    border: 2px solid #141729;
    transition: transform .2s;
}
.tool-card .card:hover {
    transform: scale(1.03);
    /* transform: translate(0px, -10px); */
}
.tool-card .card-body {
    margin-bottom: 0px;
    margin-top: 0px;
}
.tool-card .card-footer {
    background-color: #0a0c1f;
}
.tool-card .tool-name {
    font-weight: bold;
}
.tool-card .tool-picture {
    height: 200px;
}
.tool-card .tool-descr {
}
.tool-card .tool-tags {
    font-size: 0.9em;
    padding-left: 10px;
    padding-bottom: 10px;
}
.tool-card .tool-link svg {
    color: #fff;
    width: 25px;
}
.tool-card .tool-link svg:hover {
    color: #65d2e9;
}
.tool-card .tool-tags a {
    color: #fff;
    z-index: 9;
}
.tool-card .tag-link {
    position :relative;
}
.tool-card .tag-link:hover {
    text-decoration: underline;
}
.tool-card .stretched-link:hover {
    text-decoration: none;
}




.hashtag {
    /* color: #f9205a; */
    color: #fff;
    /* font-size: 0.85em; */
    margin-right: 2px;
}

.subtitle {
    color: #eee;
    font-size: 1.2em;
}



.uneedbest {
    color: rgb(248 186 116);
}
.uneedbest:hover {
    color: rgb(248 186 116);
}
