Options -Indexes

ErrorDocument 401 /404.html
ErrorDocument 403 /404.html
ErrorDocument 404 /404.html
ErrorDocument 500 /404.html

AuthUserFile /var/www/html/offsectools_www/static/.htpasswd
AuthGroupFile /dev/null
AuthType Basic
require valid-user
